ErrorDocument 401 /admin/errors/401.php
ErrorDocument 403 /admin/errors/403.php
ErrorDocument 404 /admin/errors/404.php
ErrorDocument 406 /admin/errors/406.php
ErrorDocument 500 /admin/errors/500.php
ErrorDocument 503 /admin/errors/503.php


# Disable directory browsing
Options -Indexes

# Prevent access to txt files
<FilesMatch "\.(txt)$">
    Order allow,deny
    Deny from all
</FilesMatch>

