ErrorDocument 401 /view/errors/401.php
ErrorDocument 403 /view/errors/403.php
ErrorDocument 404 /view/errors/404.php
ErrorDocument 406 /view/errors/406.php
ErrorDocument 500 /view/errors/500.php
ErrorDocument 503 /view/errors/503.php


# Disable directory browsing
Options -Indexes

# Prevent access to txt files
<FilesMatch "\.(txt)$">
    Order allow,deny
    Deny from all
</FilesMatch>