ErrorDocument 401 /?page=error&code=401
ErrorDocument 403 /?page=error&code=403
ErrorDocument 404 /?page=error&code=404
ErrorDocument 406 /?page=error&code=406
ErrorDocument 500 /?page=error&code=500
ErrorDocument 503 /?page=error&code=503

# Disable directory browsing
Options -Indexes

# Prevent access to txt files
<FilesMatch "\.(.txt|sql|loo|lo1|gitignore)$">
    Order allow,deny
    Deny from all
</FilesMatch>
