/* Rappels: 
IE/Edge CSS prefix: -ms
Firefox CSS prefix: -moz 
Opera CSS prefix: -o (Presto) and -webkit (Blink) 
Safari CSS prefix: -webkit 
Chrome CSS prefix: -webkit
*/

/* Variables communes */
:root {
    --textcolor: white;
    --themecolor: rgb(23, 24, 25, 0.9);
    --darker: rgb(0, 0, 0, 0.2);
    --darker2: rgb(0, 0, 0, 0.4);
    --lighter: rgb(255, 255, 255, 0.1);
    --lighter2: rgb(255, 255, 255, 0.2);
}

/* Polices d'écriture */

@font-face {
    font-family: "Agency FB";
    font-style: normal;
    font-weight: 400;
    src: local("Agency FB"), local("AgencyFB-Regular"),
        url(/common/style/fonts/agencyfb.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "LCD";
    font-style: normal;
    font-weight: 400;
    src: local("LCD"), url(/common/style/fonts/LCD.ttf) format("truetype");
    font-display: swap;
}

/* Tous les éléments */
* {
    outline: none;
    box-sizing: border-box;
}

/* Navigation par tabulation */
*:focus-visible {
    box-shadow: 0 0 2px 2px gray;
    /* À changer */
}

/* Toute la page */
html {
    /* Déplacement plus fluide de la page */
    scroll-behavior: smooth;
    /* Antialiasing des polices */
    -webkit-font-smoothing: antialiased;
}

/* Position, couleur, police et image de fond du corps */
body {
    padding: 0;
    margin: 0;
    font-family: "Agency FB", sans-serif;
    background-color: var(--themecolor);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/common/img/circuits.jpg);
    color: var(--textcolor);
    min-height: 100%;
    position: relative;
    z-index: 0;
}

/* Code destiné à styliser la barre de défilement sur les navigateurs à moteur Chromium (webkit) */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--themecolor);
}

::-webkit-scrollbar-thumb {
    background: var(--lighter);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--lighter2);
}

::-webkit-scrollbar-thumb:active {
    background: var(--lighter);
}

/* Styliser tous les liens */
a {
    text-decoration: none;
    color: var(--textcolor);
}

/* En-tête */
header {
    background: linear-gradient(45deg, rgba(0, 100, 255, 0.8), transparent);
    background-color: var(--darker2);
    background-size: cover;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 0;
    text-align: center;
    text-shadow: 2px 2px 0px black;
}

/* Liens en-tête */
header a {
    position: relative;
    transition: 1s;
    border: 2px solid transparent;
    display: inline-block;
}

/* Liens en-tête surlignés */
header a:hover {
    cursor: pointer;
    transition: 1s;
    border: 2px solid white;
}

/* Liens en-tête en cours de clic */
header a:active {
    background: var(--lighter2);
    border: 2px solid gray;
    transition: 0.1s;
}

/* Titre en-tête */
header a h1 {
    font-family: "LCD";
    margin: 0;
    padding: 5px 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-size: 80px;
    color: white;
}

/* Sous-titres en-tête */
header a h2 {
    font-family: "Agency FB";
    text-transform: uppercase;
    margin: 0;
    display: block;
    font-size: 20px;
    color: white;
}

/* Partie connexion de l'en-tête */
header .login {
    position: absolute;
    right: 0;
    top: 0;
}

/* Liens de la partie connexion de l'en-tête */
header .login a {
    display: block;
}

/* Sous-liens de la partie connexion de l'en-tête */
header .login h3,
header .login h4 {
    margin: 0;
    padding: 5px;
}

/* Contenu principal */
.main {
    position: relative;
    padding: 10px 5%;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    background: var(--themecolor);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/common/img/bg.jpg);
    transition: 0.3s;
}

/* Titres  */
.main .title h1 {
    margin: 10px auto;
    text-align: left;
    font-size: 25px;
}

/* Ligne de titres de section */
.main .title hr {
    border: none;
    height: 5px;
    width: 75px;
    background: var(--textcolor);
    margin: 15px 0px;
}

/* Cadres vers d'autres pages web */
.main iframe {
    border: none;
    margin: 10px;
    width: 80%;
    min-height: 500px;
    display: block;
    margin: 10px auto;
}

/* Posts */
.main .content .post {
    background: white;
    color: black;
    margin: 10px;
}

/* Titres des posts */
.main .content .post h1 {
    text-shadow: none;
    font-size: 20px;
}

/* Auteurs des posts */
.main .content .post h1.author {
    padding: 10px;
    background: gray;
    margin: 0;
}

/* Paragraphes des posts */
.main .content .post p {
    text-shadow: none;
    font-size: 20px;
}

/* Paragraphes du contenu des posts */
.main .content .post p.content {
    padding: 10px;
    margin: 0;
}

/* Dates des posts */
.main .content .post p.timestamp {
    padding: 10px;
    margin: 0;
}

/* Identifiant de l'utilisateur à l'origine des posts */
.main .content .post p.id {
    padding: 10px;
    margin: 0;
}

/* Notifications */
.notification {

    color: white;
    border-left: 8px solid var(--darker);
    margin: 10px;
    padding: 10px;
    display: block;
    background: rgb(150 150 150 / 80%);
    text-align: center;
}

/* Avertissements */
.notification.warning {
    background: rgba(150, 150, 0, 0.8);
}

/* Erreurs */
.notification.error {
    background: rgb(150 0 0 / 80%);
}

/* Succès */
.notification.success {
    background: rgb(0 150 0 / 80%);
}

/* Panels */
.panel {
    width: 100%;
    position: relative;
    display: inline-block;
    background: white;
    color: black;
    vertical-align: top;
    margin: 10px auto;
}

/* Titre du panel */
.panel h1 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    background: #333;
    color: white;
}

/* Contenu du panel */
.panel-content {
    padding: 10px;
    text-align: center;
}

/* Paragraphes du panel */
.panel .panel-content p {
    text-shadow: none;
}

/* Labels, champs de saisie et zones de texte du panel */
.panel-content label,
.panel-content input,
.panel-content textarea {
    display: block;
    margin: auto;
    font-family: inherit;
    font-size: 15px;
    padding: 2px 2px;
    min-width: 230px;
    max-width: 80%;
}

/* Informations de bas de page */
footer {
    position: relative;
    color: white;
    background: rgb(23 24 25);
    text-shadow: 0 0 4px black;
    bottom: 0;
    z-index: -1;
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    box-shadow: 0 0 2px black;
}

footer a {
    color: white;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}