/* Style pour l'impression, mettre en thème clair peu importe la préférence utilisateur */
@media (prefers-color-scheme: dark),
(prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {
    :root {
        /* Couleur de texte */
        --textcolor: black;
        /* Couleur du thème global */
        --themecolor: white;
        /* Couleurs transparentes */
        --darker: rgb(0, 0, 0, 0.2);
        --evendarker: rgb(0, 0, 0, 0.4);
        --highlight: rgb(0, 0, 0, 0.1);
        --highlight2: rgb(0, 0, 0, 0.2);
    }
}